table {
    width: 100%;
    padding-top: 40px;
  }
  .text-center{
    padding-top: 10px;
  }
// .mat-column-hcoId {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-organizationName {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-address {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-country {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-state {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-city {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-zipcode {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-email {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-website {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-primaryContact {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-primaryContactMobile {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-secondaryContact {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
//   .mat-column-secondaryContactMobile {
//     width: 5px;
//   border-right: 1px solid currentColor;
//   padding-right: 5px;
//   text-align: center;
//   }
  

  